@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toast-bg: #ffffff;
  --toast-color: #1f2937;
  --toast-border: #e5e7eb;
}

.dark {
  --toast-bg: #1f2937;
  --toast-color: #f9fafb;
  --toast-border: #374151;
}

body {
  /* Ẩn cho Chrome, Safari, Opera */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE và Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}